.home {}

.header {
    background-color: black;

}

.logo-header {
    height: 10vh;
    filter: invert(100%) sepia(100%) saturate(13%) hue-rotate(237deg) brightness(104%) contrast(104%);
}

.post-display {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    /* justify-content: flex-start; */
    gap: 10px;
    padding: 0% 0px 0px 3vw;
    overflow: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.category {
    margin: 0% 0px 0px 5vw;

}