.post-body{
    display: flex;
    height: 100%;
    max-height: 90vh;
}

.post-data{
    width: 75%;
    height: 100%;
}


.img-container{
    display: flex;
    background-color: rgb(87, 87, 87);
    justify-content: center
}
.post-img{
    height: 35vmax;
}

.r-feed{
    width: 25%;
    text-align: center;
    padding: 1%;
}

.r-display{
    max-height: 95%;
}

.post-data{
    padding-left: 3vw;
}
