.navbar2 {
    width: 90vw;
    max-width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    color: var(--bg-color-light);
    margin: 0 auto;
    padding: 5px;
}

.logo {
    display: flex;
    align-items: center;
}

.search {}

.navlinks {
    display: flex;
    justify-content: right;
}

.navlinks ul {
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
    gap: 2rem;
    align-items: center;
}

.link {
    text-decoration: none;
    color: lightgrey;
}

.link .active {
    color: blue;
}

.link:hover {
    text-decoration: underline;
}