.Create-Body {
    width: 50vw;
    margin: 0% .0%;
    border-radius: 10px;
}


.Create-Body textarea{
    width: 90%;
}

.comment-button-holder{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-right: 10%;
}

.submit-comment{
    background: transparent;
    color: black;
    border: 2px black solid;
    border-radius: 2vmax;
}

.submit-comment:hover{
    background: black;
    color: white;
}
.submit-comment:active{
    background: grey;
    color:black;
}